<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.popoapps.wearable_flutter_fragment_application_example">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:label="wearable_flutter_fragment_application_example">

        <activity
            android:name="hu.popoapps.wearable_flutter_fragment_application.activity.WearableFragmentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
